.overlayStatistic {
  position: fixed;
  background-color: rgba(0,0,0, 0.8);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.statistic {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 20px;
  max-height: 450px;
}

.statisticHeader {
  position: relative;
}

.statisticTitle {
  margin: 0;
  color: var(--text-color);
  text-align: center;
  padding: 8px 0px;
}

.statisticBtnClose {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 50%;
  padding: 5px 5px;
  font-size: var(--text-fontSize);
  position: absolute;
  top: 6px;
  right: 7px;
  border: none;
}

.statisticBtnClose:hover {
  background-color: var(--secondary-color);
  opacity: 0.8;
}

.fixIcon {
  display: flex;
}

.statisticBody {

}

.statisticListTab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.statisticTabItem {
  padding: 10px 15px;
  width: 100%;
  color: var(--text-color);
  font-size: var(--text-fontSize);
  font-weight: 500;
  text-align: center;
}

.statisticTabItem.active {
  background-color: var(--main-color);
  color: #000;
}

.statisticTabItem:hover {
  background-color: var(--main-background-color);
}

.statisticContent {
  padding: 0 15px;
}

.headerList {
  display: flex;
  margin: 5px 0px;    
}

.headerListTitle {
  margin: 0;
  color: var(--text-color);
}

.headerListQuantity {
  font-size: 20px;
  color: var(--main-color);
  margin-left: 10px;
}

.statisticSearch {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
  background-color: var(--main-background-color);
  color: var(--text-color);
  font-size: var(--text-fontSize);
  margin-top: 15px; 
}

.statisticSearch::placeholder {
  color: var(--text-color);
}

.listStatisticed {
  padding: 0;
  list-style-type: none;
  margin: 10px 0px;
  overflow-y: scroll;
  height: 300px;
}

.listStatisticed::-webkit-scrollbar {
  width: 6px;
}

.listStatisticed::-webkit-scrollbar-track {
  background-color: transparent;
}

.listStatisticed::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 4px;
}

.listStatisticed::-webkit-scrollbar-thumb:hover {
  background-color: #ffe043;
}

.itemStatisticed {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.itemImage {
  width: 40px;
  height: 40px;
}

.itemInfo {
  flex: 1;
  margin-left: 10px;
}

.itemInfo_Name {
  margin: 0;
  color: var(--text-color);
  font-size: var(--text-fontSize);
  font-weight: 500;
}

.itemInfo_Tag {
  margin: 0;
  font-size: var(--text-fontSize);
  color: var(--text-color);
}

.itemBtn {
  background-color: var(--white-color);
  border: none;
  border-radius: 3px;
  color: var(--text-color);
  padding: 5px 15px;
  border: 1px solid var(--main-color);
  font-size: var(--text-fontSize);
  font-weight: 400;
  margin-right: 15px;
}

.itemBtn:hover {
  background-color: var(--main-background-color);
}

