.reaction {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 0px 10px;
}

.reaction__icon{
    color: var(--main-text);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reaction__icon svg,
.reaction__icon > span{
    cursor: pointer;
    opacity: 0.8;
    font-size: 20px;
    line-height: 30px;
    margin-right: 5px;
}

.reaction__icon > span {
    border: 2px solid var(--text-color);
    padding: 0px 5px 2px 5px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 20px;
}

.reaction__icon .reaction__title,
.reaction__icon .reaction__title,
.reaction__icon .reaction__title,
.reaction__icon .reaction__title {
    font-size: 16px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
}

.reaction__comment__post {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 12px;
    margin-top: 10px;
}

.reaction__comment__avatar {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}

.reaction__comment__input {
    flex: 1 1;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    margin-left: 12px;
    background-color: var(--sub-background-color);
}

.reaction__icon__emotion {
    padding: 4px;
    font-size: 26px;
    margin-top: 8px;
    margin-right: 8px;
}

.reaction__comment__input input {
    flex: 1 1;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    color: var(--text-color);
    resize: none;
    background-color: var(--sub-background-color);
}

.reaction__comment__input input::placeholder {
    color: var(--text-color);
    opacity: 0.8;
}

.reaction__comment__input i {
    background-color: var(--sub-background-color);
    cursor: pointer;
    color: var(--text-color);
    padding: 13px;
}