.main-Detail {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  background-color: var(--white-color);
  position: relative;
  border-radius: 20px;
}

.main-Detail img {
  border-radius: 20px 20px 10px 10px;
  width: 100%;
}

.mainGroups .ui a {
  color: var(--text-color);
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  /* position: relative;
  top: -5rem;
  left: -2rem; */
}

.menu > li {
  line-height: 3.2;
  margin-right: 37px;
  color: var(--main-text);
  cursor: pointer;
}

.menu-active {
  color: #f9ca24 !important;
  border-bottom: 1px solid var(--active-border-bottom);
}

.main-Detail-Content {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
  margin-top: 16px;
}

.name-group {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.name-number-Group {
  color: var(--text-color);
  width: 62%;
}

.name-number-Group p {
  font-size: 14px;
  font-weight: 100;
}

.member-avatar {
  display: inline-flex;
  flex-direction: row-reverse;
  margin-left: 47px;
}

.picture-people-Group {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 35px;
  height: 35px;
}

.picture-people-Group:not(:last-child) {
  margin-left: -65px;
}

.picture-people-Group img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.readmore__caption {
  cursor: pointer;
  font-weight: 600;
  color: #f9ca24;
}

.readmore__caption:hover {
  text-decoration: underline;
}

/* *tabLinks  */

.container {
  width: 72%;
  height: 100%;
  position: relative;
  background: #ddd;
  padding: 16px 32px;
  margin: 20px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--white-color);
  color: var(--text-color);
}


.content-active {
  display: block;
}

.container .content {
  line-height: 1.5;
  margin: 0 0 18px 0;
  font-size: 16px;
}

.container .status-Group {
  margin-bottom: 15px;
}

.picture-Group {
  width: 72%;
  height: 100%;
  position: relative;
  background: #ddd;
  padding: 16px 32px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--white-color);
  color: var(--text-color);
}

.file-Group {
  width: 72%;
  height: 100%;
  position: relative;
  background: #ddd;
  padding: 16px 32px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--white-color);
  color: var(--text-color);
}

.album-Group {
  width: 72%;
  height: 100%;
  position: relative;
  background: #ddd;
  padding: 16px 32px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--white-color);
  color: var(--text-color);
}

.main-Detail .other-thing {
  position: absolute;
  right: 28px;
  top: 20px;
  z-index: 1;
  display: flex;
  background-color: rgba(0, 0, 0, 0.763);
  padding: 0.5em;
  border-radius: 8px;
  align-items: center;
}

.privateGroup-description {
  color: var(--text-color);
  padding: 20px;
  position: relative;
  text-align: center;
}

.privateGroup-description h4 {
  font-size: 20px;
  margin: 0;
}

.privateGroup-cmn {
  background: var(--white-color);
  border-radius: 10px;
  padding: 8px;
  width: 90%;
  margin: 5rem auto 0;
}

/* Button accept and defuse censhor group */
.user_action_btn {
  transition: .2s ease-in-out;
  background-color: #f9ca24;
  color: #000;
  border-radius: 4px;
  padding: 8px;
  margin: 0 6px 0 6px;
  font-weight: 600;
  font-size: 14px;
}

.user_action_btn:hover {
  transition: .2s ease-in-out;
  background-color: #1d1d1d;
  color: #f9ca24;
  cursor: pointer;
  box-shadow: 1px 1px 4px 0 #f9cb245d;
}

.user_censor_name {
  display: flex;
  width: 260px;
  align-items: center;
  justify-content: center;
}

.user_request_ava img{
  width: 42px;
  height: 42px;
  border-radius: 50%;
}


.user_censor_name .user_request_name{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: unset;
}

.user_request_name:hover {
  color: #f9ca24;
  text-decoration: underline;
}

.privateGroup-cmn div div:first-child {
  position: relative;
  top: -5rem;
  left: -2rem;
}
@media only screen and (max-width: 615px) {
  .name-number-Group {
    width: 100%;
  }
}

@media only screen and (max-width: 1300px) {
  .name-number-Group {
    display: block;
  }

}
@media (max-width: 800px) {
  .box-posts .box-posts-left {
    margin-right: 0;
  }
  .box-posts {
    flex-direction: column;
  }
  .container {
    width: 90%;
  }
}