.editor {
  box-sizing: border-box;
  cursor: text;
  border-radius: 2px;
  margin-bottom: 2em;
  /* box-shadow: inset 0px 1px 8px -3px #ABABAB; */
  color: var(--text-color);
  font-size: 15px;
  font-weight: 300;
  height: 160px;
  padding: 10px 0;
  overflow: auto;
  outline: none;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}
.placeholder{
  position: absolute;
  top: 40%;
  left: 4%;
  color: rgba(255, 255, 255, 0.726);
  font-size: 0.8rem;
  pointer-events: none;
}
.hashtag{
  color: yellow;
}
@media (max-device-height: 414px) { 
  .editor {
    margin-bottom: -4.7em;
  }
}