.wrap{
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.wrap-circle{
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 250px;
    border-radius: 999px;
    background: linear-gradient(82.2deg, #EBD870 11.13%, #FAF7B7 36.28%, #EEE081 66.65%, #C9962E 93.25%);
    filter: blur(100px);
    opacity: 0.6;
}
.container{
    max-width: 90%;
    margin: auto;
    color: #fff;
    padding-top: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}
.header-left-text{
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(66.61deg, #EBD870 19.15%, #FAF7B7 40.33%, #EEE081 65.9%, #C9962E 88.31%); 
    background-clip: text;
    color: transparent;
    line-height: 60px;

}
.header-left-logo{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#F8F4B1, #CD9E38);
    padding: 4px;
    margin-left: 4px;
}
.header-left-logo-img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.header-right{
    display: flex;
    align-items: center;
}
.header-right-btn{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    padding: 12px;
    border-radius: 14px;
    position: relative;
    margin-right: 28px;
}
.header-right-btn::after{
    content: "";
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: rgba(250, 250, 250, 0.4);
}
.header-right-btn > span{
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 500;
    word-spacing: 6px;
}
.header-right-info{
    display: flex;
    align-items: center;
    background: transparent;
    color: #fff;
}
.header-right-info > .user{
    background: #fff;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}
.header-right-info > .icon{
    font-size: 30px;
}
