.bidding {
    background-color: var(--white-color);
    padding: 24px;
    border-radius: var(--box-borderRadius-size);
}

.statistic__heading > h1 {
    margin: 0;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 30px;
    color: var(--main-text);
}

.statistic__chart {
    padding: 0 8%;
}

.chart {
    margin-bottom: 2rem;
    position: relative;
}

.statistic__chart-time {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: var(--main-color);
    font-weight: 600;
}

.chart-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.chart-container::-webkit-scrollbar {
    display: none;
}

.chart-name {
    margin: 0;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: var(--main-text);
}

.chart-col {
    position: relative;
    height: 425px;
    width: 40px;
    background-color: transparent;
    margin: 0 auto;
}

.chart-inner {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
}

.chart-value {
    position: relative;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--main-text);
    width: 150px;
    flex-shrink: 0;
}

.col-name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    padding-top: 15px;
    color: var(--main-text);
    font-weight: 600;
}

.col-value {
    top: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 2;
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
}

.button-chart {
    border: none;
    padding: 5px;
    border-radius: 100%;
    font-size: 30px;
    display: flex;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}

.button-chart:hover {
    opacity: 1;
}

.button-chart-next {
    right: 0;
    transform: translateX(calc(100% + 20px));
}
.button-chart-prev {
    transform: translateX(calc(-100% - 20px));
}